<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf8">
        <meta name="viewport" content="width=device-width">
        <title>TWICE掲示板 Candy Pop</title>
        <link rel="stylesheet" href="CSS/mystyles.css">
        <link rel="shortcut icon" href="image/favicon.ico">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
        <script type="text/javascript" src="TWICE.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <a href="/" class="navbar-brand">TWICE掲示板</a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <% if !current_user.nil? %>
                        <li>こんにちは、<%= current_user.name %>さん</li>
                        <li><a href="/signout">ログアウト</a></li>
                    <% else %>
                        <li>新規ユーザーですか?</li>
                        <li><a href="/signin">ログイン</a></li>
                        <li><a href="/signup">新規登録</a></li>
                    <% end %>
                </ul>
            </div>
        </nav>
        <h1 style="background:aqua;" >Candy Pop</h1>
        <p>
            <a href="http://tower.jp/item/4665538/Candy-Pop%EF%BC%9C%E9%80%9A%E5%B8%B8%E7%9B%A4%EF%BC%9E" target="_blank"><img src="image/Candy Pop CD.JPG" width="400" height="350" alt="Candy Pop" align="left"></a>
            <font size="4">
                <h3>概要</h3>
                <p>
                    日本でのオリジナル曲のセカンドシングル
                    <br>タイトル曲はCandy Pop
                </p>
                <h3>曲</h3>
                <p>
                    Candy Pop　M/Vは
                    <span>
                        <a href="https://www.youtube.com/watch?v=wQ_POfToaVY" target="_blank">
                            こちら
                        </a> 
                    </span>
                    <br>
                    BRAND NEW GIRL M/Vは
                    <span>
                        <a href="https://www.youtube.com/watch?v=r1CMjQ0QJ1E" target="_blank">
                            こちら
                        </a>
                    </span>
                </p>
            </font>
        </p>
        <h5><a href="http://tower.jp/item/4665538/Candy-Pop%EF%BC%9C%E9%80%9A%E5%B8%B8%E7%9B%A4%EF%BC%9E" target="_blank">購入はこちら</a></h5>
    </body>
</html>