<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf8">
    <meta name="viewport" content="width=device-width">
    <title>TWICE掲示板 One More Time</title>
    <link rel="stylesheet" href="CSS/mystyles.css">
    <link rel="shortcut icon" href="image/favicon.ico">
  </head>
  <body>
      <h1 style="background:aqua;" >One More Time</h1>
        <p><a href="http://tower.jp/item/4605129/One-More-Time%EF%BC%9C%E9%80%9A%E5%B8%B8%E7%9B%A4-%E5%88%9D%E5%9B%9E%E9%99%90%E5%AE%9A%E4%BB%95%E6%A7%98%EF%BC%9E" target="_blank"><img src="image/One More Time.jpg" width="400" height="350" alt="One More Time"></a></p>
        <h3>概要</h3>
          <p>日本でグループ初のオリジナル曲となるファーストシングル<br>タイトル曲 One More Time<br>2017年10月18日にリリースされた</p>
        <h3>曲</h3>
          <p>One More Time　M/Vは<span><a href="https://youtu.be/HuoOEry-Yc4" target="_blank">こちら</a></span>
          <br>LUVE ME</p>
        <h5><a href="http://tower.jp/item/4605129/One-More-Time%EF%BC%9C%E9%80%9A%E5%B8%B8%E7%9B%A4-%E5%88%9D%E5%9B%9E%E9%99%90%E5%AE%9A%E4%BB%95%E6%A7%98%EF%BC%9E" target="_blank">購入はこちら</a></h5>
  </body>
</html>