<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf8">
    <meta name="viewport" content="width=device-width">
    <title>TWICE掲示板 #TWICE</title>
    <link rel="stylesheet" href="CSS/mystyles.css">
    <link rel="shortcut icon" href="image/favicon.ico">
  </head>
  <body>
      <h1 style="background:aqua;" >#TWICE</h1>
        <p><a href="http://tower.jp/item/4455132/#TWICE%EF%BC%9C%E9%80%9A%E5%B8%B8%E7%9B%A4%EF%BC%9E" target="_blank"><img src="image/TWICE japan.jpg" width="400" height="350" alt="#TWICE"></a></p>
        <h3>概要</h3>
          <p>グループ初の日本語版と韓国語版の両方からなるコンピレーションアルバム<br>これにより日本ではTTが有名となる<br>2017年6月28日にリリースされた</p>
        <h3>曲</h3>
          <p>Like Ooh Ahh -Japanese ver.　M/Vは<span><a href="https://youtu.be/1iLF3zr5mUM" target="_blank">こちら</a></span>
          <br>CHEER UP -Japanese ver.
          <br>TT -Japanese ver.　M/Vは<span><a href="https://youtu.be/t35H2BVq490" target="_blank">こちら</a></span>
          <br>KNOCK KNOCK -Japanese ver.
          <br>SIGNAL -Japanese ver.</p>　M/Vは<span><a href="https://youtu.be/nrNWpxFflr4" target="_blank">こちら</a></span>
        <h5><a href="http://tower.jp/item/4455132/#TWICE%EF%BC%9C%E9%80%9A%E5%B8%B8%E7%9B%A4%EF%BC%9E" target="_blank">購入はこちら</a></h5>
  </body>
</html>