<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf8">
    <meta name="viewport" content="width=device-width">
    <title>TWICE掲示板 Twicetagram</title>
    <link rel="stylesheet" href="CSS/mystyles.css">
    <link rel="shortcut icon" href="image/favicon.ico">
  </head>
  <body>
      <h1 style="background:aqua;" >Twicetagram</h1>
        <p><a href="https://www.amazon.co.jp/Twice-1%E9%9B%86-Twicetagram-%E3%83%A9%E3%83%B3%E3%83%80%E3%83%A0%E3%83%90%E3%83%BC%E3%82%B8%E3%83%A7%E3%83%B3/dp/B076LX3QTY/ref=sr_1_3?s=music&ie=UTF8&qid=1515081808&sr=1-3&keywords=Twicetagram" target="_blank"><img src="image/twicetagram.jpg" width="450" height="350" alt="Twicetagram"></a></p>
        <h3>概要</h3>
          <p>TWICEの1枚目のフルアルバム<br>メイン曲はLIKEY<br>2017年10月30日にリリースされた</p>
        <h3>曲</h3>
          <p>LIKEY　M/Vは<span><a href="https://youtu.be/V2hlQkVJZhE" target="_blank">こちら</a></span>
          <br>TURTLE
          <br>MISSING U
          <br>WOW
          <br>FFW
          <br>DING DONG
          <br>24/7
          <br>LOOK AT ME
          <br>ROLLIN'
          <br>LOVE LINE
          <br>DON'T GIVE UP
          <br>YOU IN MY HEART
          <br>JALJAYO GOOD NIGHT</p>
        <h5><a href="https://www.amazon.co.jp/Twice-1%E9%9B%86-Twicetagram-%E3%83%A9%E3%83%B3%E3%83%80%E3%83%A0%E3%83%90%E3%83%BC%E3%82%B8%E3%83%A7%E3%83%B3/dp/B076LX3QTY/ref=sr_1_3?s=music&ie=UTF8&qid=1515081808&sr=1-3&keywords=Twicetagram" target="_blank">購入はこちら</a></h5>
  </body>
</html>