<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf8">
    <meta name="viewport" content="width=device-width">
    <title>TWICE掲示板 Wake Me Up</title>
    <link rel="stylesheet" href="CSS/mystyles.css">
    <link rel="shortcut icon" href="image/favicon.ico">
  </head>
  <body>
      <h1 style="background:aqua;" >Wake Me Up</h1>
        <p>
            <a href="http://tower.jp/item/4710421/Wake-Me-Up%EF%BC%9C%E9%80%9A%E5%B8%B8%E7%9B%A4-%E5%88%9D%E5%9B%9E%E9%99%90%E5%AE%9A%E4%BB%95%E6%A7%98%EF%BC%9E" target="_blank"><img src="image/Wake Me Up.jpg" width="350" height="350" alt="Wake Me Up"></a>
        </p>
        <h3>概要</h3>
          <p>
              日本でのサードシングル<br>タイトル曲はWake Me Up
          </p>
        <h3>曲</h3>
          <p>
            Wake Me Up
            <span>
              <a href="https://www.youtube.com/watch?v=DdLYSziSXII" target="_blank">
                こちら
              </a> 
            </span>
            <br>
            Pink Lemonade
          </p>
        <h5><a href="http://tower.jp/item/4710421/Wake-Me-Up%EF%BC%9C%E9%80%9A%E5%B8%B8%E7%9B%A4-%E5%88%9D%E5%9B%9E%E9%99%90%E5%AE%9A%E4%BB%95%E6%A7%98%EF%BC%9E" target="_blank">購入はこちら</a></h5>
  </body>
</html>