<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf8">
    <meta name="viewport" content="width=device-width">
    <title>TWICE掲示板 What is Love?</title>
    <link rel="stylesheet" href="CSS/mystyles.css">
    <link rel="shortcut icon" href="image/favicon.ico">
  </head>
  <body>
      <h1 style="background:aqua;" >What is Love?</h1>
        <p><a href="http://tower.jp/item/4710179/What-Is-Love-%EF%BC%9A-5th-Mini-Album-(%E3%83%A9%E3%83%B3%E3%83%80%E3%83%A0%E3%83%90%E3%83%BC%E3%82%B8%E3%83%A7%E3%83%B3)" target="_blank"><img src="image/What is Love.jpg" width="350" height="350" alt="What is Love?"></a></p>
        <h3>概要</h3>
          <p>5枚目のミニ・アルバム<br>2018年4月9日にリリースされた</p>
        <h3>曲</h3>
          <p>What is Love?　M/Vは<span><a href="https://www.youtube.com/watch?time_continue=1&v=i0p1bmr0EmE" target="_blank">こちら</a></span>
          <br>SWEET TALKER
          <br>HO!
          <br>DEJAVU
          <br>Say Yes
          <br>STUCK</p>
        <h5><a href="http://tower.jp/item/4710179/What-Is-Love-%EF%BC%9A-5th-Mini-Album-(%E3%83%A9%E3%83%B3%E3%83%80%E3%83%A0%E3%83%90%E3%83%BC%E3%82%B8%E3%83%A7%E3%83%B3)" target="_blank">購入はこちら</a></h5>
  </body>
</html>